@model List<Item>

<h1>Каталог товаров</h1>

<table>
    <tr>
        <th>Название товара</th>
        <th>Цена</th>
        <th>Пол</th>
        <th>Картинки</th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.ProductPrice</td>
            <td>@item.Gender?.GenderValue</td>
            <td>
                @foreach (var image in item.Images)
                {
                    <img src="@image.ImageUrl" alt="Product Image" width="100" height="100" />
                }
            </td>
        </tr>
    }
</table>
